<p class="supertiny">&nbsp;</p>

<div id="footer" class="center-align">
  
  <br />
  <div id="copy">
    Webmaster: <%= mail_to("contact@pats.org", "PATS", encode: "javascript") %> 
    &nbsp;&nbsp;&copy 2020
  </div>

</div>